html {
	font-size: 16px;
	font-family: PLACEHOLDER;
	background-color: BBFCF2;
}
body {
	width: 600px;
	margin: 0 auto;
	background-color:bisque;
	padding: 0 20px 20px 20px;
	border: : 2px solid black;
}

h1 {
	margin 0;
	padding: 15px 0;
	color: 03443A;
	text-shadow: 2px, 2px, 1px black;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

 